In [1]:
pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\users\omkar\appdata\roaming\python\python311\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\omkar\appdata\roaming\python\python311\site-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\omkar\appdata\roaming\python\python311\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\omkar\appdata\roaming\python\python311\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\omkar\appdata\roaming\python\python311\site-packages (from requests) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install beautifulsoup4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: beautifulsoup4 in c:\users\omkar\appdata\roaming\python\python311\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\omkar\appdata\roaming\python\python311\site-packages (from beautifulsoup4) (2.4.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\omkar\appdata\roaming\python\python311\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\omkar\appdata\roaming\python\python311\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\omkar\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\omkar\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\omkar\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\omkar\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup as bs

In [5]:
links=[2018,2019,2020,2021,2022,2023]
date=[]
day=[]
price=[]
change=[]
for link in links:
    site=requests.get(f"https://www.rupeerates.in/Silver/{link}")
    #print(site)
    site.content
    data=bs(site.content,"html.parser")
    data.prettify()
    
    for i in data.find_all('div',{"class":"c"})[4::4]:
        date.append(i.text)
    #print(date)
   
    for j in data.find_all('span',class_="day-caption"):
        day.append(j.text)
    #print(day)
    
    for k in data.find_all('div',class_="c text-right"):
        price.append(k.text)
    #print(price)
    
    for l in data.find_all('div', class_="c text-center"):
        change.append(l.text)
    #print(change)

In [6]:
print(len(date))
print(len(day))
print(len(price))
print(len(change))

1499
1499
1499
1499

In [7]:
silver_price=pd.DataFrame({"Date":date,"Day":day,"Price Per Gram":price,"Change":change})
silver_price

                Date        Day Price Per Gram    Change
0       01-01-2018       Monday      ₹ 34.835    +0.01%
1       02-01-2018      Tuesday      ₹ 34.896    +0.17%
2       03-01-2018    Wednesday      ₹ 34.787    -0.31%
3       04-01-2018     Thursday      ₹ 34.760    -0.08%
4       05-01-2018       Friday      ₹ 34.979    +0.63%
...              ...        ...            ...       ...
1494    28-09-2023     Thursday      ₹ 60.360    -1.15%
1495    29-09-2023       Friday      ₹ 61.673    +2.13%
1496    02-10-2023       Monday      ₹ 57.817    -6.67%
1497    03-10-2023      Tuesday      ₹ 56.357    -2.59%
1498    04-10-2023    Wednesday      ₹ 56.489    +0.23%

[1499 rows x 4 columns]

In [8]:
silver_price.to_csv("Silver_Price_2018-23.csv",index=False)

In [9]:
silver_price=pd.read_csv("Silver_Price_2018-23.csv")

In [10]:
silver_price

                Date        Day Price Per Gram    Change
0       01-01-2018       Monday      ₹ 34.835    +0.01%
1       02-01-2018      Tuesday      ₹ 34.896    +0.17%
2       03-01-2018    Wednesday      ₹ 34.787    -0.31%
3       04-01-2018     Thursday      ₹ 34.760    -0.08%
4       05-01-2018       Friday      ₹ 34.979    +0.63%
...              ...        ...            ...       ...
1494    28-09-2023     Thursday      ₹ 60.360    -1.15%
1495    29-09-2023       Friday      ₹ 61.673    +2.13%
1496    02-10-2023       Monday      ₹ 57.817    -6.67%
1497    03-10-2023      Tuesday      ₹ 56.357    -2.59%
1498    04-10-2023    Wednesday      ₹ 56.489    +0.23%

[1499 rows x 4 columns]